{% extends "shop/base.html" %}
{% load static %}

{% block content %}
    

    <header>
      <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis" ><span style="color: #d9534f ">Best Food In Town</span></h1>
        <p class="fs-5 text-body-secondary"><span style="color: #d9534f ">Random Selection</span></p>
      </div>
    </header>
  

 <main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      {% for food in random_food_list %}
      <div class="col-md-6">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
            
            <div class="d-flex justify-content-around">
                <div>
                    <a type="button" class="w-100 btn btn-lg btn-outline-dark" href="{{ food.get_absolute_url }}">
                        <h3 class="my-0 fw-normal">{{ food.name }}</h3>
                      </a>

                </div>
                <div>
                <select class="form-select" id="state" required>
                
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
              <div>
                <h4>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                  <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z"/>
                </svg>{{ food.price }}
              </h4>
              </div>
              </div>
              <br>
            <a type="button" class="w-100 btn btn-lg btn-outline-danger" href="/">Add To Basket</a>
        </div>
        </div>
      {% endfor %}

    </div>

  </main>

{% endblock %}